<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the Latest Japanese Snacks on OtakuSnacks
      </h1>
    </div>
  </div>
</section>
<% end %>







<!-- <p id="notice"><%= notice %></p>

<h1>Snacks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snacks.each do |snack| %>
      <tr>
        <td><%= snack.title %></td>
        <td><%= snack.brand %></td>
        <td><%= snack.description %></td>
        <td><%= snack.price %></td>
        <td><%= snack.image %></td>
        <td><%= link_to 'Show', snack %></td>
        <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
        <td><%= link_to 'Destroy', snack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snack', new_snack_path %> -->
