<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @snack.title %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @snack.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @snack.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @snack.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag (image_path(@snack.image.url(:thumb))), :class => "style_image" %>
</p>


<%= link_to 'Edit', edit_snack_path(@snack) %> |
<%= link_to 'Back', snacks_path %>
